


.proyectsPageContaier {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-block: 5%;
    box-sizing: border-box;
    background-image: url('./img/stars.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 21%;
    
      
}



.sliderNavContainer {
    display: flex;
    justify-content: center;
    width: 888px;
    align-self: center;
    border-bottom: 1px #000 solid;
    margin-block: 2.5%;
}

.proyectTextCont {
    display: flex;
    width: 222px;
    height: 51px;
    margin-inline: 2px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    font-size: 27px;
    font-weight: 100;
    cursor: pointer;
    color: #000;
}

.proyectTextContSelect  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #000;
    font-size: 27px;
    width: 222px;
    height: 51px;
    font-weight: 500;
    border-radius: 20px 20px 0px 0px;
    color: #000000;
    font-weight: 900;
    transition: all 1s ease;
    
}

.proyectTextContSelect::before {
    opacity: 0;
}
.proyectTextContSelect::after {
    opacity: 1;
}




#imageProyect {
    width: 100%;
    position: relative;
    z-index: 5;
    
}

.animating{
    transform: translateX(150%) translateY(300%) rotate(15deg);
    animation: orbital 1s ease-in;
    width: 429px;
}
.enterAnimating {
    
    animation: enterUp 1S ease-out;
}


.animatingPrev{
    transform: translateX(150%) translateY(300%) rotate(15deg);
    animation: orbitalPrev 1s ease-in;
}
.enterAnimatingPrev {
    
    animation: enterUpPrev 1S ease-out;
}


@keyframes orbital {
     0% {
    transform: translateX(0) translatey(0) ;
  }
  100% {
    
     transform: translateX(150%) translatey(-300%) rotate(15deg);
  }
}



@keyframes enterUp {
     0% {
        transform: translateX(150%) translatey(300%) rotate(15deg) ;
  }
  100% {
    transform: translateX(0) translatey(0)  ;
     
  }
}



@keyframes orbitalPrev {
     0% {
    transform: translateX(0) translatey(0) ;
  }
  100% {
    transform: translateX(150%) translatey(300%) rotate(15deg) ;
     
  }
}



@keyframes enterUpPrev {
     0% {
        transform: translateX(150%) translatey(-300%) rotate(15deg);
  }
  100% {
    transform: translateX(0) translatey(0)  ;
     
  }
}


.proyectsSilder {
    display: flex;
    justify-content: space-evenly;
}

.proyectInfoContainer {
    display: flex;
    flex-shrink: 0;
    width: 550px;
    height: 518px;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}

.proyectInfo {
    color: #000;
    font-weight: 200;
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 300;
    font-style: Light;
    font-size: clamp(1rem, 2.5vw, 2rem);   
    line-height: 100%;
    letter-spacing: 0%;
    
}

.proyectTitle {
    font-weight: 800;
    font-size: 84px;
    text-align: left;
}

.linkProyect {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    width: 25%;
    height: 8%;
    display: flex;
    border-radius: 30px;
    align-self: flex-end;
    align-items: center;
    justify-content: space-evenly;
}
.arrowShowMore {
    width: 25px;
}

.easeInText {
    display: flex;
    flex-shrink: 0;
    width: 550px;
    height: 518px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    animation: easeTextIn 1s ease;

}
@keyframes easeTextIn {

    0% {
        opacity: 0 ;
        } 
    100% {
        opacity: 1;  ;
     
  }
}

.easeOutText {
    display: flex;
    flex-shrink: 0;
    width: 550px;
    height: 518px;
    text-align: center;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    animation: easeTextOut 1s ease;
    
}

@keyframes easeTextOut {

    0% {
        opacity: 1 ;
        } 
    100% {
        opacity: 0;  ;
     
  }
}

.arrowIcon {
    fill: #5EC5ED;
    height: 90px;
    cursor: pointer;
    
 
}

.buttonArrowProyectSlider {
    background: transparent;
    border: none;
}


.imgContainer {
    width: 435px; 
    flex-shrink: 0;
    position: relative; 
    align-content: center;
}








@media (max-width: 1024px) {
    
    /* Contenedor principal */
    .proyectsPageContaier {
        padding-block: 10%;
    }

    /* Navegación superior */
    .sliderNavContainer {
        display: none;
    }

    .proyectTextCont,
    .proyectTextContSelect {
        width: calc(50% - 15px);
        height: 40px;
        font-size: 18px;
        margin-inline: 0;
    }


    /* Slider necesita ser el contenedor relativo */
    .proyectsSilder {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
        position: relative; /* AGREGAR ESTO */
    }

    /* Imagen - Ancho completo */
    .imgContainer {
        width: 60%;
        order: 1;
        align-self: center ;
    }

    /* Botones de navegación */
    .buttonArrowProyectSlider {
        position: absolute;
        top: 20%; /* Ajusta según la altura de tu imagen */
        transform: translateY(-50%);
        z-index: 10;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        padding: 8px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonArrowProyectSlider:first-child {
        left: 10px;
        display: flex;
    }

    .buttonArrowProyectSlider:last-child {
        right: 10px;
        display: flex;
    }
    /* Info del proyecto */
    .proyectInfoContainer,
    .easeInText,
    .easeOutText {
        height: auto;
        order: 2;
        gap: 15px;
        width: 100%;
        padding: 0px 34px;
        box-sizing: border-box;
    }

    .proyectTitle {
        font-size: 1.8rem;
    }

    .proyectInfo {
        font-size: 31px;
    }

    .linkProyect {
        /*width: 168px;
        height: 57px;
        border-radius: 50px;
        padding: 2% 4%;
        gap: 10px;
        position: absolute;
        bottom: 170px;
*/
        gap: 10px;
        position: absolute;
       
    }

    /* Botones de navegación */
    .arrowIcon {
        height: 50px;
    }

    
    
    /* Salida hacia la derecha */
    .animating {
        animation: slideOutRight 0.5s ease-in-out;
        transform: translateX(100%);
    }

    /* Entrada desde la izquierda */
    .enterAnimating {
        animation: slideInLeft 0.5s ease-in-out;
    }

    /* Salida hacia la izquierda */
    .animatingPrev {
        animation: slideOutLeft 0.5s ease-in-out;
        transform: translateX(-100%);
    }

    /* Entrada desde la derecha */
    .enterAnimatingPrev {
        animation: slideInRight 0.5s ease-in-out;
    }

    @keyframes slideOutRight {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideOutLeft {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}


@media (max-width: 430px) {
    .linkProyect {
        width: 27%;
        height: 25px;
        bottom: auto;
        padding: 2% 2%;
        margin: -3% 0%;
        
     
    }
    .proyectTitle {
        font-size: 1.5rem;
    }
    .proyectInfo {
        font-size: 1.6rem
    }

}

