.formContainer {
    background-image: url(./img/fomrBackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    height: 660px;
    display: flex;
    flex-direction: row;
    gap: 20px;
 
 
    font-family: sans-serif;
    justify-content: center;
}

.titleForm {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
}

.nameEmailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.inputGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputGroup input {
    width: 100%;
    padding: 8px;
    background:   #5EC5ED33;
    backdrop-filter: blur(6px);
    border: none;
    border-radius: 4px;
}
.containerMessage textarea {
    width: 100%;
    height: 250px;
    padding: 8px;
    background:   #5EC5ED33;
    backdrop-filter: blur(6px);
    border: none;
    border-radius: 4px;
}

.containerMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.containerInputsLabels {
    width: 40%;
    height: 368px;
    align-content: center;
}
.buttonForm {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    background-color: #0077ff;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.sendIcon {
    align-self: flex-end;
}





@keyframes efectSuccedMessage {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
     100% {
        opacity: 1;
         transform: translateY(0);
     }
    
}


.succedMessage {
    align-self: center;
    color: #008d23;
    font-weight: 800;
    font-size: 70px;
    animation: efectSuccedMessage 1s ease;
    position: absolute;
    z-index: 5;
}
