
.fallingImagesContainer {
  position: relative;
  overflow: hidden;
  height: 80dvh;
  width: 100%;
  background-image: url(./img/fondo\ 1-10.jpg.jpeg);
  background-size: cover;
  background-position: center;

}

.fallingImagesTarget {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
  user-select: none;
  position: relative;
  z-index: 1;
}

.fallingImage {
  display: inline-block;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  
}

.fallingImagesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.titleFallingStars {
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-weight: 100;


}

 .contred {        
    text-align: center;
    
  }
  

.logoContainer {
  display: flex;
  justify-content: center;

  img {
    width: 370px;
  }
}



.redesContainer {
    /* display: flex; */
  /* justify-content: center; */
  /* pointer-events: auto; */
  position: absolute;
  top: 300px;
  width: 100%;
  justify-self: center;
  z-index: 88888;
}



.instagramContainer, 
.linkedinContainer, 
.behanceContainer {
  pointer-events: auto;
  position: relative;
  z-index: 88888;
}


.introductionContainer {
  z-index: 9;
  position: relative;
  user-select: none;
  margin-block: 3%;
  pointer-events: none;
}



.fallingImagesCanvas,
.fallingImagesCanvas canvas {
  pointer-events: none !important;
}
@media (max-width: 600px) {
  .redesContainer {
    /*display: flex; */
    /* justify-content: center; */
    /* pointer-events: auto; */
    /*position: relative;*/
    z-index: 88888;
  }
  .fallingImagesContainer {
    height: 65dvh;
 
  }

 
  .redesContainer img {
    width: 80px;
    
  }
}


